* {
  box-sizing: border-box;
}

*:focus {
  box-shadow: 0 0 3px 3px rgba(65, 180, 250, 0.8);
  outline: none !important;
}

a,
a:visited,
a:active,
a:focus {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button,
button:hover,
button:active,
button:focus {
  border-radius: 3px;
  cursor: pointer;
}

html {
  font-size: 10px;
  height: 100%;
}

body {
  background: #333;
  background: linear-gradient(120deg, #262626, #4d4d4d) fixed;
  color: #fff;
  font: 14px Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  min-height: 100%;
  padding: 1% 20px 70px;
  position: relative;
  text-align: center;
}

h1 {
  display: inline-block;
  float: left;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.settings,
.settings:active,
.settings:focus {
  background: transparent;
  border: none;
  color: #1ad1ff;
  float: right;
  height: 40px;
  width: 40px;
}

.settings:hover {
  background: rgba(13, 13, 13, 0.2);
}

#modal {
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal-content {
  background-color: #fff;
  border-radius: 5px;
  color: #333;
  margin: 15% auto;
  max-width: 400px;
  width: 70%;
}

.modal-header {
  border-bottom: 1px solid #e6e6e6;
  padding: 10px;
}

.modal-header h2 {
  font-size: 1.8rem;
  font-weight: 300;
  margin: 0;
  text-align: left;
}

.modal-body {
  padding: 20px;
}

.modal-body .form-group {
  margin: 10px;
  text-align: left;
}

.modal-body input {
  border: none;
  border-bottom: 1px solid #333;
  border-radius: 0;
  max-width: 40px;
}

.modal-body .error-message {
  background-color: #fcf8e3;
  border: 1px solid #faebcc;
  border-radius: 3px;
  color: #8a6d3b;
  display: none;
  line-height: 20px;
  margin: 10px 0;
  padding: 15px 10px;
  width: 100%;
}

.modal-footer {
  border-top: 1px solid #e6e6e6;
  padding: 10px;
  text-align: right;
}

.modal-footer button,
.modal-footer button:active,
.modal-footer button:focus {
  background-color: #404040;
  border: none;
  color: #1ad1ff;
  letter-spacing: 1px;
  margin: 0 3px;
  padding: 10px;
}

.modal-footer button:hover {
  background-color: #333;
}

.timers {
  margin: 12% auto 0;
  max-width: 650px;
}

.timer-card {
  background-color: rgba(13, 13, 13, 0.2);
  border-radius: 4px;
  display: inline-block;
  margin: 10px auto;
  padding: 20px;
  max-width: 300px;
  width: 100%;
}

.timer-card h2 {
  font-size: 1.1em;
  font-weight: 300;
  margin-top: 0;
  text-align: left;
}

.timer {
  color: #1ad1ff;
  font-size: 3em;
}

.timer-button,
.timer-button:active,
.timer-button:focus {
  background-color: #1ad1ff;
  border: 2px solid #1ad1ff;
  color: #333;
  height: 60px;
  margin: 8px;
  width: 60px;
}
.timer-button:hover {
  background-color: #333;
  color: #1ad1ff;
}

.pause-timer {
  display: none;
}

footer {
  background-color: rgba(13, 13, 13, 0.2);
  bottom: 0;
  font-size: 1.2rem;
  left: 0;
  letter-spacing: 2px;
  margin: 0;
  padding: 12px 0;
  position: absolute;
  right: 0;
  width: 100%;
}

footer a,
footer a:visited,
footer a:hover,
footer a:active,
footer a:focus {
  color: #1ad1ff;
}

@media only screen and (min-width: 330px) {

  h1 {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 640px) {

  .timer-card {
    margin: 10px
  }
}
