/* BASE PAGE STYLES */

html {
  background: transparent;
  box-sizing: border-box;
  color: hsl(0, 0%, 100%);
  height: 100%;
  letter-spacing: 1px;
  text-align: center;
}

body {
  background: hsl(0, 0%, 20%);
  background: linear-gradient(120deg, hsl(0, 0%, 15%), hsl(0, 0%, 30%)) fixed;
  min-height: 100%;
  overscroll-behavior: none;
  padding: 0 20px;
  position: relative;
}

header {
  padding-top: 70px;
}

main {
  padding-bottom: 6rem;
}

footer {
  background: hsla(0, 0%, 5%, 0.2);
  bottom: 0;
  font-size: 0.8rem;
  left: 0;
  letter-spacing: 2px;
  padding: 14px 0;
  position: absolute;
  right: 0;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  box-sizing: border-box;
  margin-top: 0;
}

/* BASE ELEMENT STYLES */

div,
header,
main,
footer,
p,
form,
label,
input,
button,
button:hover,
button:active,
button:focus {
  box-sizing: border-box;
}

input {
  border: 0;
  border-radius: 0;
  color: hsl(0, 0%, 20%);
  line-height: 1.3;
  width: 100%;
}

input::placeholder {
  color: hsl(0, 0%, 60%);
}

a,
a:visited,
a:hover,
a:active,
a:focus {
  color: #1ad1ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:focus,
button:focus,
details:focus,
input:focus,
select:focus,
textarea:focus,
[tabindex]:focus {
  box-shadow: 0 0 3px 3px hsla(203, 95%, 62%, 0.8);
  outline: none;
}

.button,
.button:visited,
.button:hover,
.button:active,
.button:focus {
  background: transparent;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  line-height: normal;
  padding: 0;
  width: auto;
}

.button:hover {
  text-decoration: none;
}

.button-group {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.message {
  border-radius: 5px;
  line-height: 1.55;
  margin: 20px auto;
  max-width: 800px;
  padding: 15px 10px;
}

/* SPECIFIC ELEMENT STYLES */

.settings-button-container {
  position: absolute;
  right: 10px;
  top: 10px;
}

.settings-button,
.settings-button:hover,
.settings-button:active,
.settings-button:focus {
  color: #1ad1ff;
  height: 30px;
  width: 30px;
}

.settings-button:hover {
  background: hsla(0, 0%, 5%, 0.2);
}

h1 {
  font-size: 1.18rem;
  font-weight: 600;
  letter-spacing: 7px;
  margin-bottom: 24px;
  text-transform: uppercase;
}

.modal {
  background: hsla(0, 0%, 0%, 0.75);
  bottom: 0;
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.modal-content {
  animation: slideIn 0.3s ease-out;
  background: hsl(0, 0%, 100%);
  border-radius: 5px;
  color: hsl(0, 0%, 20%);
  margin: 10% auto;
  max-width: 280px;
  width: 80%;
}

@keyframes slideIn {
  from {
    margin-top: 0;
  }
  to {
    margin-top: 10%;
  }
}

.modal-header {
  border-bottom: 1px solid hsl(0, 0%, 80%);
  padding: 10px;
  text-align: left;
}

.modal-body {
  padding: 15px;
}

.modal-body .form-group {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

.modal-body label {
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.modal-body input[type=text] {
  background: transparent;
  border-bottom: 1px solid hsl(0, 0%, 20%);
  margin-left: 5px;
  max-width: 40px;
}

.modal-body .button-group {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  padding-top: 10px;
}

.modal-button,
.modal-button:hover,
.modal-button:active,
.modal-button:focus {
  background: hsl(0, 0%, 25%);
  color: #1ad1ff;
  margin-left: 8px;
  padding: 8px 10px;
}

.modal-button:hover {
  background: hsl(0, 0%, 20%);
}

.timer-card {
  background: hsla(0, 0%, 5%, 0.2);
  margin: 0 auto;
  max-width: 300px;
  padding: 20px;
}

.timer-card h2 {
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 5px;
  text-align: left;
  text-transform: uppercase;
}

.timer {
  color: #1ad1ff;
  font-size: 2.5rem;
}

.timer-buttons {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.timer-button,
.timer-button:hover,
.timer-button:active,
.timer-button:focus {
  background: #1ad1ff;
  border: 2px solid #1ad1ff;
  color: hsl(0, 0%, 20%);;
  height: 45px;
  margin: 10px 5px 0;
  width: 45px;
}

.timer-button:hover {
  background: transparent;
  color: #1ad1ff;
}

.pause-timer {
  display: none;
}

.error-message {
  background: hsl(349, 96%, 95%);
  border: 1px solid hsl(349, 96%, 90%);
  color: hsl(349, 96%, 26%);
  display: none;
}

@media only screen and (max-width: 400px) {

  .modal-content {
    font-size: 0.9rem;
  }
}
