// STYLES FOR SETTINGS FORM

input {
  border: 0;
  border-radius: 0;
  color: change-color($black, $lightness: 20%);
  letter-spacing: 1px;
  line-height: 1.3;
  width: 100%;
  &::-webkit-input-placeholder {
    color: change-color($black, $lightness: 60%);
  }
  &::-moz-placeholder {
    color: change-color($black, $lightness: 60%);
  }
  &:-ms-input-placeholder {
    color: change-color($black, $lightness: 60%);
  }
  &::-ms-input-placeholder {
    color: change-color($black, $lightness: 60%);
  }
  &::placeholder {
    color: change-color($black, $lightness: 60%);
  }
}

// Modal styles
.modal {
  background: rgba($black, 0.75);
  bottom: 0;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  .modal-content {
    -webkit-animation: slideIn 0.3s ease-out;
    animation: slideIn 0.3s ease-out;
    background: change-color($black, $lightness: 100%);
    border-radius: 5px;
    color: change-color($black, $lightness: 20%);
    font-size: 0.9rem;
    margin: 10% auto;
    max-width: 280px;
    width: 80%;
    @media all and (min-width: 400px) {
      font-size: inherit;
    }
    .modal-header {
      border-bottom: 1px solid change-color($black, $lightness: 80%);
      padding: 10px;
      text-align: left;
    }
    .modal-body {
      padding: 15px;
      .form-group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 10px;
        label {
          font-size: 0.7rem;
          font-weight: 600;
          letter-spacing: 3px;
          text-transform: uppercase;
        }
        input[type=text] {
          background: transparent;
          border-bottom: 1px solid change-color($black, $lightness: 20%);
          margin-left: 5px;
          max-width: 40px;
        }
      }
      .button-group {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding-top: 10px;
        .modal-button,
        .modal-button:hover,
        .modal-button:active,
        .modal-button:focus {
          background: change-color($black, $lightness: 25%);
          color: $blue;
          margin-left: 8px;
          padding: 8px 10px;
          &:hover {
            background: change-color($black, $lightness: 20%);
          }
        }
      }
    }
  }
}

body.modal-open {
  overflow: hidden;
}

@-webkit-keyframes slideIn {
  from {
    margin-top: 0;
  }
  to {
    margin-top: 10%;
  }
}

@keyframes slideIn {
  from {
    margin-top: 0;
  }
  to {
    margin-top: 10%;
  }
}